@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/*  page-header */

.page-header {
  display: flex;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
  list-style: none;
  justify-content: flex-start;
  padding-left: 71px;
  margin: 0;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  padding-right: 33px;
  padding-top: 19px;
  padding-bottom: 20px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 72px;
  margin: 0;
}

.button-want {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;
}

/*  main-container */

.main-index {
  width: 1200px;
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("/img/index/background-index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.advantages-list,
.information-sedona,
.travel-dates,
.mailing-index,
.mailing-catalog {
  text-align: center;
}

.welcome {
  padding-top: 51px;
  padding-left: 371px;
}

.information-sedona {
  display: flex;
  flex-direction: column;
  width: 720px;
  margin: 0 auto;
}

/* advantages */

.advantages {
  max-width: 1200px;
  list-style: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  height: 384px;
  margin-right: 0;
  margin-bottom: 0;
}

.advantages-item-large {
  width: 800px;
}

.advantages-item img {
  display: block;
  margin: 0 auto;
 }

.about-sedona {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.advantages-sedona {
  font-size: 22px;
  line-height: 36px;
}

.advantages-item-special-blue {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-special-pale-blue {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-special-light-blue {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-discription {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-service-housing,
.advantages-item-service-souvenirs {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-special-white {
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-title-service {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-discription-service {
  font-size: 18px;
  line-height: 21px;
}

.photo-hotel {
  width: 1200px;
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("/img/index/photo-advantages-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* travel-dates */

.travel-dates {
  display: flex;
  flex-direction: column;
  width: 720px;
  margin: 0 auto;
}

.interesting {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.hotel-offers {
  font-size: 22px;
  line-height: 26px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  width: 575px;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
}

/* mailing-index */

.mailing-index {
  width: 1200px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("/img/index/background-index-newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.subscription-index,
.subscription-catalog {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  width: 720px;
  margin: 0 auto;
}

.description-mailing-index {
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  margin: 0 auto;
}

.button-subscribe {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 200px;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
}

/*  Footer */

.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.page-footer-container {
display: flex;
justify-content: space-between;
width: 1200px;
padding-left: 72px;
padding-right: 72px;
}

.footer-social-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.phone-number-footer {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

/*  catalog */

.inner-header {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("/img/catalog/background-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-left: 71px;
  padding-right: 72px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  list-style-type: none;
}

/* Link */

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
}

.home-page {
  margin-left: 11px;
}

.breadcrumbs-link-catalog {
  margin-left: 10px;
}

.search-filters-form {
  display: flex;
}

.search-filter-type-infrastructure h2,
.search-filter-type-housing h2,
.search-filter-type-price legend {
  display: flex;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.label-infrastructure,
.choice-housing-type {
  display: flex;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.search-filter-type-housing {
  margin-left: 67px;
}

.search-filter-type-price {
  margin-left: 167px;
}

.min-price input,
.max-price input {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: gainsboro;
  text-decoration: none;
}

.search-buttons {
  padding-left: 150px;
}

.button-apply {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 160px;
  height: 48px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-reset {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  width: 160px;
  height: 23px;
  text-decoration: none;
}

/* searching results */

.searching-results {
  margin-left: 72px;
  margin-right: 72px;
}

.block-searching-results {
  display: flex;
}

.services-selector-list {
  list-style: none;
  margin-left: 192px;
}

.catalog-views {
  display: flex;
  list-style: none;
  margin-left: 81px;
}

.catalog-views-link {
  margin-right: 8px;
}

.found-hotels {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.services-selector-item,
.count-hotels-filter p,
.number-hotels-item {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.filter-search-results {
  display: block;
}

.selected-hotel {
display: flex;
}

.hotel-description {
  margin-left: 37px;
}

.selected-hotel h2 {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
}

.selected-hotel p {
  font-size: 18x;
  line-height: 23px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.hotel-rating {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 361px;
}

.button-more-details {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  width: 151px;
  height: 37px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-to-favorites {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 160px;
  height: 37px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-in-favorites {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #7DB54F;
  width: 160px;
  height: 37px;
  text-decoration: none;
  text-transform: uppercase;
}

.selected-hotel span {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  width: 160px;
  height: 37px;
  text-transform: uppercase;
}

.button-load-more {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 625px;
  height: 55px;
  margin-left: 216px;
  text-decoration: none;
  text-transform: uppercase;
}

/* hotel-show-controls */

.hotel-show-controls {
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
  justify-content: space-between;
}

.pagination-container {
  display: flex;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
}

.pagination-item {
  background-color: #83B3D3;
  width: 55px;
  height: 55px;
  text-align: center;
}

.pagination-item:not(:last-child) {
  margin-right: 7px;
}

.pagination-current {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #E5E5E5;
  text-decoration: none;
}

.count-hotels-filter {
  display: flex;
  width: 380px;
  justify-content: flex-end;
}

.number-hotels-list {
  list-style: none;
  margin-left: 51px;
}

/* mailing-catalog */

.your-e-mail {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  width: 600px;
  height: 60px;
  text-decoration: none;
}
