@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/*  page-header */

.page-header {
  width: 1200px;
  min-height: 65px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-left: 59px;
  padding-right: 72px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
  list-style: none;
  align-self: center;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.navigation-user .navigation-link {
  box-sizing: border-box;
  padding-left: 11px;
  padding-right: 11px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  color: #756257;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 10px;
}

.navigation-link:active {
  opacity: 0.3;
  border: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-icon {
  fill: #000000;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:focus .navigation-icon {
  fill: #756257;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 10px;
}

.navigation-link:active .navigation-icon {
  opacity: 0.3;
  border: none;
}

.button-want {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  width: 160px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 10px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  border-radius: 4px;
}

.button-want:hover {
  background-color: #615048;
}

.button-want:focus {
  background-color: #615048;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 10px;
}

.button-want:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.main-header-logo {
  padding-top: 0;
}

/*  main-container */

.main-index {
  width: 1200px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.advantages-list,
.mailing-index,
.mailing-catalog {
  text-align: center;
}

.welcome-sedona {
  min-height: 485px;
  position: relative;
  background-image: url("/img/index/background-index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome {
  padding-top: 51px;
  padding-left: 371px;
}

.decoration-welcome {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* information-sedona*/

.information-sedona {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 63px;
  padding-bottom: 79px;
  align-items: center;
}

.about-sedona {
  width: 720px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.advantages-sedona {
  width: 720px;
  font-size: 22px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  padding-top: 23px;
}

/* advantages */

.advantages {
  max-width: 1200px;
  list-style: none;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 384px;
  box-sizing: border-box;
  padding-top: 98px;
  padding-bottom: 77px;
}

.advantages-item-large {
  width: 800px;
  padding: 0;
  margin: 0;
}

.advantages-item-special-blue {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-special-pale-blue {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-special-light-blue {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  width: 180px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
}

.advantages-discription-sequential-number {
  width: 250px;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  padding: 0;
  padding-top: 25px;
}

.advantages-discription {
  width: 250px;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  padding: 0;
  padding-top: 26px;
}

.advantages-item-service {
  justify-content: end;
  padding: 0;
  margin: 0;
  padding-bottom: 79px;
}

.advantages-title-service {
  order: 1;
  width: 200px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  padding-top: 23px;
}

.advantages-discription-service {
  order: 2;
  width: 250px;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
}

.advantages-item img {
  order: -1;
  margin: 0 auto;
}

.advantages-item-large-hotel {
  grid-column: 2/4;
}

.advantages-item-large-mountains {
  grid-column: 1/3;
}

.advantages-item-service-housing,
.advantages-item-service-souvenirs {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-special-white {
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-title-service {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-discription-service {
  font-size: 18px;
  line-height: 21px;
}

.photo-hotel {
  width: 1200px;
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("/img/index/photo-advantages-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* travel-dates */

.interesting-hotels {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 91px;
  align-items: center;
}

.interesting {
  width: 720px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
}

.hotel-offers {
  width: 720px;
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  padding-bottom: 73px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  width: 575px;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  background-color: #615048;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 10px;
}

.button-search:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

/* mailing-index */

.mailing-index {
  width: 1200px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("/img/index/background-index-newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 91px;
  padding-top: 94px;
  padding-bottom: 93px;
}

.subscription-index,
.subscription-catalog {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  width: 720px;
  margin: 0 auto;
}

.discription-mailing-index {
  width: 720px;
  height: 72px;
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  margin: 0 auto;
  padding-top: 15px;
}

.mailing-index form {
  padding-top: 26px;
}

.button-subscribe {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 200px;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 0 10px 10px 0;
}

.button-subscribe:hover {
  background-color: #68A2CA;
}

.button-subscribe:focus {
  background-color: #68A2CA;
  border-style: solid;
  border-color: #756257;
  border-width: 3px;
}

.button-subscribe:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

/* footer */

.page-footer {
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
}

.page-footer-container {
display: flex;
justify-content: space-between;
padding-left: 57px;
padding-right: 72px;
padding-top: 40px;
padding-bottom: 30px;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.phone-number-footer {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  padding: 15px;
}

.main-footer-logo {
  display: flex;
  align-items: center;
}

.icon-footer-logo {
  fill: #000000;
}

.main-footer-logo:hover .icon-footer-logo {
  fill: #756257;
}

.main-footer-logo:focus .icon-footer-logo {
  fill: #756257;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 10px;
}

.main-footer-logo:active .icon-footer-logo {
  opacity: 0.3;
  border: none;
}

.phone-number-footer:hover {
  color: #a59a93;
}

.phone-number-footer:focus {
  color: #756257;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 10px;
  padding: 15px;
}

.phone-number-footer:active {
  opacity: 0.3;
  border: none;
}

.footer-social-link {
  padding-left: 15px;
  padding-right: 15px;
}

.social-link-twitter {
  fill: #83B3D3;
}

.footer-social-link:hover .social-link-twitter {
  fill: #68A2CA;
}

.footer-social-link:focus .social-link-twitter {
  fill: #68A2CA;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 10px;
}

.footer-social-link:active .social-link-twitter {
  fill: #68A2CA;
  opacity: 0.3;
  border: none;
}

.social-link-fb {
  fill: #83B3D3;
}

.footer-social-link:hover .social-link-fb {
  fill: #68A2CA;
}

.footer-social-link:focus .social-link-fb {
  fill: #68A2CA;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 10px;
}

.footer-social-link:active .social-link-fb {
  fill: #68A2CA;
  opacity: 0.3;
  border: none;
}

.social-link-youtube {
  fill: #83B3D3;
}

.footer-social-link:hover .social-link-youtube {
  fill: #68A2CA;
}

.footer-social-link:focus .social-link-youtube {
  fill: #68A2CA;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 10px;
}

.footer-social-link:active .social-link-youtube {
  fill: #68A2CA;
  opacity: 0.3;
  border: none;
}

/* catalog */

.inner-header {
  min-height: 408px;
  color: #FFFFFF;
  background-color: cover;
  background-image: url("/img/catalog/background-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-left: 71px;
  padding-right: 72px;
  padding-top: 35px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 45px;
  color: #FFFFFF;
  list-style-type: none;
}

/* link */

.home-page {
  margin-left: 2px;
  margin-right: 11px;
  fill: #FFFFFF;
}

.breadcrumbs-link:hover .home-page {
  opacity: 0.6;
}

.breadcrumbs-link:focus .home-page {
  fill: #FFFFFF;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 4px;
}

.breadcrumbs-link:active .home-page {
  opacity: 0.3;
  border: none;
}

.breadcrumbs-link-catalog {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  margin-left: 10px;
}

.breadcrumbs-link-catalog:hover {
  opacity: 0.6;
}

.breadcrumbs-link-catalog:focus {
  color: #FFFFFF;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 4px;
}

.breadcrumbs-link-catalog:active {
  opacity: 0.3;
  border: none;
}

.search-filters-form {
  display: grid;
  grid-template-columns: 217px 312px 369px 160px;
}

.search-filter-type-infrastructure {
  grid-column: 1/2;
}

.search-filter-type-housing {
  grid-column: 2/3;
}

.search-filter-type-price {
  grid-column: 3/4;
}

.search-buttons {
  grid-column: 4/5;
  padding-top: 60px;
}

.search-filter-type-infrastructure h2,
.search-filter-type-housing h2,
.search-filter-type-price legend {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
}

.label-infrastructure,
.choice-housing-type {
  display: flex;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  padding-bottom: 13px;
}

.min-price input,
.max-price input {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: gainsboro;
  text-decoration: none;
}

.button-apply {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 160px;
  height: 48px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:focus {
  background-color: #68A2CA;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 3px;
  border-radius: 10px;
}

.button-apply:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.button-reset {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  width: 160px;
  height: 23px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  color: #FFFFFF;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

/* searching results */

.searching-results {
  margin-left: 72px;
  margin-right: 72px;
  margin-bottom: 31px;
}

.block-searching-results {
  display: grid;
  grid-template-columns: 529px 287px 1fr;
  height: 134px;
}

.services-selector-list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  align-items: center;
}

.catalog-views {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  align-items: center;
}

.catalog-views-link {
  margin-right: 8px;
}

.views-link-mode-tile,
.views-link-mode-slideshow,
.views-link-mode-list {
  fill: #000000;
}

.catalog-views-link:hover .views-link-mode-tile,
.catalog-views-link:hover .views-link-mode-slideshow,
.catalog-views-link:hover .views-link-mode-list {
  fill: #000000;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 2px;
  border-radius: 4px;
}

.catalog-views-link:focus .views-link-mode-tile,
.catalog-views-link:focus .views-link-mode-slideshow,
.catalog-views-link:focus .views-link-mode-list {
  fill: #000000;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 2px;
  border-radius: 4px;
}

.catalog-views-link:active .views-link-mode-tile,
.catalog-views-link:active .views-link-mode-slideshow,
.catalog-views-link:active .views-link-mode-list {
  fill: #000000;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 4px;
}

.found-hotels {
  display: flex;
  flex-grow: 1;
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  align-items: center;
}

.services-selector-item,
.number-hotels-item {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.filter-search-results {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.selected-hotel {
  display: grid;
  grid-template-columns: 216px 159px 1fr 160px;
  grid-template-rows: 31px 1fr 37px;
}

.filter-search-results-item {
  list-style: none;
  padding-top: 31px;
  padding-bottom: 30px;
}

.selected-hotel-image {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.selected-hotel-image:hover {
  opacity: 0.6;
}

.selected-hotel-image:focus {
  opacity: 1;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
}

.selected-hotel-image:active {
  opacity: 0.3;
}

.selected-hotel-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  padding: 0;
  margin: 0;
}

.selected-hotel-title:hover {
  color: #756257;
}

.selected-hotel-title:focus {
  color: #756257;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 10px;
  padding: 10px 16px;
}

.selected-hotel-title:active {
  opacity: 0.3;
  border: none;
}

.selected-hotel-class {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 0;
  margin: 0;
  padding-top: 1px;
}

.selected-hotel-price {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  padding: 0;
  margin: 0;
}

.button-more-details {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.button-to-favorites,
.button-in-favorites {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.selected-hotel-stars {
  margin: 0 auto;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.selected-hotel-reit {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.button-more-details {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  width: 151px;
  height: 37px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.button-more-details:hover {
  background-color: #615048;
}

.button-more-details:focus {
  background-color: #615048;
  border-style: solid;
  border-color: #83B3D3;
  border-width: 3px;
  border-radius: 4px;
}

.button-more-details:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.button-to-favorites {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 160px;
  height: 37px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.button-to-favorites:hover {
  background-color: #68A2CA;
  border-style: solid;
  border-color: #756257;
  border-width: 1px;
  border-radius: 4px;
}

.button-to-favorites:focus {
  background-color: #68A2CA;
  border-style: solid;
  border-color: #756257;
  border-width: 3px;
  border-radius: 4px;
}

.button-to-favorites:active {
  background-color: #68A2CA;
  border-style: solid;
  border-color: #756257;
  border-width: 1px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.button-in-favorites {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #7DB54F;
  width: 160px;
  height: 37px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.button-in-favorites:hover {
  background-color: #6C9E42;
}

.button-in-favorites:focus {
  background-color: #6C9E42;
  border-style: solid;
  border-color: #756257;
  border-width: 3px;
  border-radius: 4px;
}

.button-in-favorites:active {
  background-color: #6C9E42;
  border: none;
  color: rgba(255, 255, 255, 0.3);
}

.selected-hotel span {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  width: 160px;
  height: 37px;
  text-align: center;
  padding-top: 9px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.button-load-more {
  width: 625px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 31px;
  margin-bottom: 30px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

/* hotel-show-controls */

.hotel-show-controls {
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
  justify-content: space-between;
}

.pagination-container {
  display: flex;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-width: 3px;
  border-radius: 4px;
  text-decoration: none;
  border: none;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  border-style: solid;
  border-color: #756257;
}

.pagination-link:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.count-hotels-filter {
  display: flex;
  width: 380px;
  justify-content: flex-end;
}

.number-hotels-list {
  list-style: none;
  margin-left: 51px;
}

/* mailing-catalog */

.mailing-catalog {
  margin-bottom: 138px;
}

.your-e-mail {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  width: 600px;
  height: 60px;
  text-decoration: none;
}
