@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("fonts/ptsans-400.woff2") format("woff2"),
  url("fonts/ptsans-400.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("fonts/ptsans-700.woff2") format("woff2"),
  url("fonts/ptsans-700.woff2") format("woff");

  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;

  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background: #FFFFFF;
}

/*  Button */
.btn {
  font-family: inherit;

  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background: #756257;
  text-decoration: none;
  text-transform: uppercase;
}


/*  Pages */

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  background: inherit;
  text-decoration: none;
  text-transform: none;
}

.btn-want {

}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("/image/index/background-index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}



/*  List */
.advantages-list,
.information-sedona {
  text-align: center;
}

.about-sedona {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: inherit;
  background: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.advantages-sedona {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: inherit;
  background: inherit;
  text-decoration: none;
  text-transform: none;
}
